*{
    margin: 0;
    padding: 0;
}


body{
    font-family: 'Poppins', sans-serif;
}
.cabecalho{  
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center ;
    padding:  4%;
    
    
}
.cabecalho-lista-item{
    display: inline-block;
    margin: 0 10px;
    font-size: 24px;
}









.estaquia-imagem{
    width: 20%;
    padding: 7%;
    
}

.introdução {
    background-image: linear-gradient(rgb(71, 71, 71),#027729 );
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;



    
}
.introdução-div-conteudo{
    width: 60%;
}
.introdução-titulo{
    padding: 24px 0;

}
.texto-estaquia{
    display: block;
}

















